
<%= form_with model: article do |form|%>
<div>
<%= form.label :title%>
<%= form.text_field :title%>
<% article.errors.full_messages_for(:title).each do |message| %>
<div><%= message %></div>
<% end %>
</div>
<div>
   <%= form.label :details%>
<%= form.text_field :details%> 
<% article.errors.full_messages_for(:details).each do |message| %>
<div><%= message %></div>
<% end %>
</div>
<div>
<%=form.submit%>
</div>
<div>
<%=form.label :status%><br/>
<%=form.select :status, ['public', 'private', 'archived'], selected:'public'%>
</div>
<%end%>